body{
    background: rgb(219, 219, 86);
}

header{
    height: 80px;
    width: 100%;

}

.navbar{
    padding: 0;
}


nav{
    font-size: 25px;
}

.container-fluid{
    background: rgb(115, 115, 121);
}

.logo {
    width: 150px;
    height: 80px;
}

.navbar-toggler{
    background: white;
}

.hideOff{
    display: none;
}

section{
    padding-top: 50px;
}


.minhaImg {
    width: 100%;
    height: 100%;
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.contato{
    align-items: center;
}

.contato form{
    background: black;
    max-width: 500px;
    width: 95%;
    color: #FFFFFF;
    height: 40vh;
    border-radius: 15px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

video {
    width: 600px;
}